<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/}" th:object="${user}">
  <div>
    <h1>New User</h1>
  <label for="name">Enter name:</label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="lastname">Enter lastname:</label>
  <input type="text" th:field="*{lastName}" id="lastname"/>
  <br>
  <label for="age">Enter age:</label>
  <input type="number" th:field="*{age}" id="age"/>
  <br>
  <input type="submit" value="Add new User"/>
  </div>
</form>

</body>
</html>